.menu{
    list-style-type: none;
    background-color: rgb(187, 90, 38);
    overflow: hidden;
    padding: 0;
}
.menu li{
    float: left;
}
.menu li a{
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;

}

.menu li a:hover{
    background-color: rgb(176, 39, 39);
}